<form action="#" id="siteSearch" method="get">
	<input type="text" class="searchInput" id="searchInput" value="Search"/>
	<input type="submit" id="searchSubmit" value="" onfocus="this.blur();"/>
</form>
