<div id="footer-wrap">
	<div id="footer" class="container_16 clearfix">
	</div>
</div>

<div id="bottom-wrap">
	<div id="bottom" class="container_16 clearfix">
		<p>&copy; 2013 Copyright <a href="index.html">embersodes</a>. All Rights Reserved.</p>
		<ul>
			<li><a href="#">Log In</a></li>
			<!--<li><a href="#">Register</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms and Conditions</a></li>
			<li class="top"><p>Back to <a href="#">Top</a></p></li>-->
		</ul>
	</div>
</div>

