<div id="contentTop"></div>
<div id="content-wrap">
	<div id="content" class="container_16 clearfix">

		<div id="contentLeft" class="grid_10">

			{{view Embersodes.BreadcrumbView currentLocationName="About"}}

			<h2>About Embersodes</h2>
			<p>Ember.js is an excellent framework for building client-side web applications.  Embersodes ("Ember episodes") is a site dedicated to providing tutorials, training, and best practice guidelines on Ember through a series of screencasts.  By doing so, we hope to help build the Ember community, lower the bar for noobs, and increase adoption.</p>
			
			<p>&nbsp;</p>
			<h5>Special Thanks</h5>
			<p>The content on Embersodes would not be possible without the help of some pretty amazing people, like:</p>
			<div class="listStyle">
				<ul>
					<li>Yehuda Katz, Tom Dale, and the entire Ember.js Core Team</li>
					<li>The amazing Ryan Bates of <a href="http://railscasts.com" target="_blank">Railscasts</a> fame</li>
				</ul>
			</div>
		</div>
		
		<div id="contentRight" class="grid_5">
			<div class="rightContent">
				<h5>About the Moderator</h5>
				<p>Chris Sansone is a passionate software artisan and visionary.  He loves working with ambitious companies that aren't afraid to push the limits and build game-changers, and he is an evangelist for Rails and Ember.js to build awesome, well-structured web apps.  He currently lives in Indianapolis where he leads development at <a href="http://www.iasta.com" target="_blank">iasta</a> as Chief Software Architect.</p>
			</div>

			<img class="imgRight moderator" src="assets/chris.png" alt="" />

			<div class="socialRight">
				<ul>
					<li><a href="http://www.linkedin.com/pub/christopher-sansone/52/224/449/" target="_blank"><img src="assets/linkedin_32.png" title="Connect with us on LinkedIn" alt="" /></a></li>
					<li><a href="https://twitter.com/embersodes" target="_blank"><img src="assets/twitter_32.png" title="Follow us on Twitter" alt="" /></a></li>
					<li><a href="#" target="_blank"><img src="assets/rss_32.png" title="RSS" alt="" /></a></li>
				</ul>	
			</div>
		</div>
	</div>
</div>
