<div id="featured-wrap" class="clearfix">
	<div id="featured" class="container_16 clearfix">
		{{view Embersodes.SliderView contentBinding="Embersodes.sliderContent"}}
	</div>
</div>


<div id="servicesTop"></div>
<div id="services-wrap">
	<div id="services" class="container_16 clearfix">

		<div id="box1" class="grid_5">
			<h5>About embersodes</h5>
			<img src="assets/small1.jpg" alt="" />
			<p>Let's face it, ember.js is 100% pure awesome.  With it, you can build web applications of any size while adhering to proper coding standards on the client.  Trivial tasks are taken care of, and a great API makes it easy.  It does for JQuery what JQuery does for the DOM.  Embersodes are "Ember episodes", short how-to video casts to support the Ember community.</p>
			<a href="about.html">Read more</a>
		</div>

		<div id="box2" class="grid_5">
			<h5>Latest Episode</h5>
			<a href="entry.html"><img src="assets/small7.jpg" alt="" /></a>
			<div id="comments"><a class="comments" rel="">23 Comments</a></div>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer..</p>
			<div class="entryHead">Posted in <a class="category" rel="">Design</a> on February 13, 2010</div>
			<a href="entry.html">Read more</a>
		</div>

		<div id="box3" class="grid_5 right">
			<h5>Get in Touch</h5>
			<div class="getInTouch">
				<ul>
					<li class="linkedinContact"><strong>LINKED IN</strong><br/><a href="http://www.linkedin.com/pub/christopher-sansone/52/224/449/">Chris's Profile</a></li>
					<li class="twitterContact"><strong>TWITTER</strong><br/><a href="https://twitter.com/embersodes">@embersodes</a></li>
					<li class="rssContact"><strong>RSS</strong><br/><a href="">RSS Feed</a></li>
					<li class="goForm"><a {{action goToContact href=true}}>Contact Form</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

